body {
  margin-top: 50px;
  background: #faf8ef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

h2 {
  font-family: Arial;
  margin-bottom: 20px;
  background-color: #cdc1b4;
  padding: 10px;
  border-radius: 10px;
}

.game {
  display: grid;
  grid-template-columns: repeat(4, 80px);
  gap: 10px;
  background: #bbada0;
  padding: 10px;
  border-radius: 10px;
}

.cell {
  width: 80px;
  height: 80px;
  background: #cdc1b4;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 28px;
  font-weight: bold;
}